<link rel="stylesheet" href="/css/projectDetails.css">


<section id="filter">
    <form id="navbar" action="/issueTracker/filterProjectDetails/" method="post">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadio" value="Project Title" id="flexRadio1"
                required>
            <label class="form-check-label" for="flexRadio1">Project Title</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadio" value="Project Description" id="flexRadio2"
                required>
            <label class="form-check-label" for="flexRadio2">Project Description</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadio" value="Project Author" id="flexRadio3"
                required>
            <label class="form-check-label" for="flexRadio3">Project Author</label>
        </div>
        <button type="submit" class="btn btn-theme">Filter</button>
    </form>
</section>
<div class="grid-container">
    <% for(let project of projectDetails) { %>
        <div href="#" class="projectDetailsDiv">
            <div class="header-block">
                <h1>
                <%= project.projectName%>
                </h1>
            </div>
            <div class="block-summary">
                <%= project.description%>
            </div>
            <p class="my-3">- <%= project.authorName %></p>

            <% if(project.bugs){%>
                <div id="bugBox">
                    <h1 class="text-center"><i class="fa-solid fa-bug"></i> Bug Faced</h1>
                    <% for(let bug of project.bugs) { %>
                        <div>
                            <p>
                                <%= bug.issueName %>
                            </p>
                            <a href="/issueTracker/delete-issue/<%= project._id %>/<%= bug._id %>"><i class="fa fa-trash" aria-hidden= "true"></i></a>
                        </div>
                    <% } %>
                </div>
            <% }else{ %>
                <div id="bugBox">
                    <h1 class="text-center"><i class="fa-solid fa-bug"></i> No Bug Faced</h1>
                </div>
            <% } %>
            <a href="/issueTracker/createAnIssue/<%= project._id %>" type="button" class="btn btn-theme mt-4 issueRaise">+ Raise an Issue</a>
        </div>
    <% } %>
</div>